<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/styles.css">

    <title>Certification Records</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom bg-custom">
      <a class="navbar-brand" href="#">Navbar | </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Index<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="memberData.html">Data Entry - Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="certificationData.html">Data Entry - Certification</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="detailed.html">Detailed View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reports.html">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Oconee County Fire Rescue</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row" id="dataPage">
        <div id="cardPaneLeft" class="col cardPane cardPaneLeft">
          <form method="post" v-on:submit.prevent="handleNewCertificationForm">
            <h3>Create New Certification Record</h3>

          <div class="form-group">
            <label for="newCertificationAgency">Agency</label>
            <input type="text" v-model="newCertificationForm.agency" class="form-control" id="newCertificationAgency" placeholder="Jane">
          </div>
          <div class="form-group">
            <label for="newCertificationName">Certification Name</label>
            <input type="text" v-model="newCertificationForm.name" class="form-control" id="newCertificationName" placeholder="Doe">
          </div>
          <div class="form-group">
            <label for="newCertificationStandardExpiry">Standard Expiry</label>
            <input type="text" v-model="newCertificationForm.standardExpiry" class="form-control" id="newCertificationStandardExpiry" placeholder="2020-01-02">
          </div>

          <button type="submit" class="btn btn-primary">Create</button>

          </form>



          <!-- <button v-on:click="yell()">Click Me!</button> -->
        </div>

        <div class="col-6">
          <h3> Current Certifications </h3>

          <div class=certificationCard" v-for="certification in certificationList" v-on:click="activeCertification = certification">
            <span class="Agency">{{ certification.agency }}</span>,
            <span class="Name">{{ certification.name }}</span>
            <span class="StandardExpiry">{{ certification.standardExpiry }}</span>
          </div>
        </div>
        <div class="col cardPane cardPaneRight">
          <h1>Edit Certification Information</h1>
          <form method="post" v-on:submit.prevent="handleCertificationDataForm">
            <div class="form-group">
              <label for="existingCertificationAgency">Agency</label>
              <input type="text" v-model="newCertificationUpdateForm.agency" class="form-control" id="existingCertificationAgency" placeholder="Jane">
            </div>
            <div class="form-group">
              <label for="existingCertificationName">Certification Name</label>
              <input type="text" v-model="newCertificationUpdateForm.name" class="form-control" id="existingCertificationName" placeholder="Doe">
            </div>
            <div class="form-group">
              <label for="existingCertificationStandardExpiry">Standard Expiry</label>
              <input type="text" v-model="newCertificationUpdateForm.standardExpiry" class="form-control" id="existingCertificationStandardExpiry" placeholder="2020-01-02">
            </div>
          <div class="form-group">
            <label for="existingCertificationupdate"><b>Delete or edit record?</b></label>
            <select class="form-control" v-model="newCertificationUpdateForm.update" id="existingCertificationupdate">
              <option value="delete">Delete</option>
              <option value="edit">Edit</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Update</button>

        </form>
        </div>
      </div>
    </div>
    <!-- END content -->

    <!-- Footer? Insert here -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/certificationData.app.js"></script>
  </body>
</html>
