<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/styles.css">

    <title>Member Records</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom bg-custom">
      <a class="navbar-brand" href="#">Navbar | </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Index<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="data.html">Data Entry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="detailed.html">Detailed View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reports.html">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Oconee County Fire Rescue</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row" id="dataPage">
        <div id="cardPaneLeft" class="col cardPane cardPaneLeft">
          <form method="post" v-on:submit.prevent="handleNewMemberForm">
            <h3>Create New Member Record</h3>

          <div class="form-group">
            <label for="newMemberfName">First Name</label>
            <input type="text" v-model="newMemberForm.fName" class="form-control" id="newMemberfName" placeholder="Jane">
          </div>
          <div class="form-group">
            <label for="newMemberlName">Last Name</label>
            <input type="text" v-model="newMemberForm.lName" class="form-control" id="newMemberlName" placeholder="Doe">
          </div>
          <div class="form-group">
            <label for="newMemberdob">DOB</label>
            <input type="text" v-model="newMemberForm.dob" class="form-control" id="newMemberdob" placeholder="2020-01-02">
          </div>
          <div class="form-group">
            <label for="newMembergender">Gender</label>
            <select class="form-control" v-model="newMemberForm.gender" id="newMembergender">
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other/Unknown</option>
            </select>
          </div>
          <div class="form-group">
            <label for="newMemberphonePrimary">Primary Phone</label>
            <input type="text" v-model="newMemberForm.phonePrimary" class="form-control" id="newMemberphonePrimary" placeholder="800-700-6000">
          </div>
          <div class="form-group">
            <label for="newMemberphoneSecondary">Secondary Phone</label>
            <input type="text" v-model="newMemberForm.phoneSecondary" class="form-control" id="newMemberphoneSecondary">
          </div>
          <div class="form-group">
            <label for="newMemberemail">Email</label>
            <input type="text" v-model="newMemberForm.email" class="form-control" id="newMemberemail" placeholder="fire@gmail.com">
          </div>
          <div class="form-group">
            <label for="newMemberstreet">Street</label>
            <input type="text" v-model="newMemberForm.street" class="form-control" id="newMemberstreet" placeholder="1275 E 10th St">
          </div><div class="form-group">
            <label for="newMembercity">City</label>
            <input type="text" v-model="newMemberForm.city" class="form-control" id="newMembercity" placeholder="Bloomington">
          </div>
          <div class="form-group">
            <label for="newMemberstate">State</label>
            <input type="text" v-model="newMemberForm.state" class="form-control" id="newMemberstate" placeholder="Indiana">
          </div>
          <div class="form-group">
            <label for="newMemberzip">Zip</label>
            <input type="text" v-model="newMemberForm.zip" class="form-control" id="newMemberzip" placeholder="47405">
          </div>
          <div class="form-group">
            <label for="newMemberstation">Station</label>
            <input type="text" v-model="newMemberForm.station" class="form-control" id="newMemberstation" placeholder="Station 1">
          </div>
          <div class="form-group">
            <label for="newMembertitle">Title</label>
            <input type="text" v-model="newMemberForm.title" class="form-control" id="newMembertitle" placeholder="Captain">
          </div>
          <div class="form-group">
            <label for="newMemberactive">Status</label>
            <select class="form-control" v-model="newMemberForm.active" id="newMembergender">
              <option value="0">Inactive</option>
              <option value="1">Active</option>
            </select>
          </div>
          <div class="form-group">
            <label for="newMemberradioNum">Radio Number</label>
            <input type="text" v-model="newMemberForm.radioNum" class="form-control" id="newMemberradioNum" placeholder="C_7">
          </div>

          <button type="submit" class="btn btn-primary">Create</button>

          </form>

          <h3> Current Members </h3>

          <div class="memberCard" v-for="member in memberList" v-on:click="activeMember = member">
            <span class="lastName">{{ member.lName }}</span>,
            <span clas="firstName">{{ member.fName }}</span>
            <span class="radionum">| Radio Number: {{ member.radioNum }}</span>
            <span clas="station">| Station: {{ member.station }}</span>
          </div>

          <!-- <button v-on:click="yell()">Click Me!</button> -->
        </div>

        <div class="col-6">
          <h1>Edit Member Information</h1>
          <form v-on:submit.prevent="handleDataForm">
          <div class="form-group">
            <label for="memberName">Member Name</label>
            <input class="form-control" id="memberName" v-bind:value="activeMemberName" readonly>
          </div>
          <div class="form-group">
            <label for="existingMemberdob">DOB</label>
            <input type="text" v-model="newUpdateForm.dob" class="form-control" id="existingMemberdob" placeholder="2020-01-02">
          </div>
          <div class="form-group">
            <label for="existingMembergender">Gender</label>
            <select class="form-control" v-model="newUpdateForm.gender" id="existingMembergender">
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other/Unknown</option>
            </select>
          </div>
          <div class="form-group">
            <label for="existingMemberphonePrimary">Primary Phone</label>
            <input type="text" v-model="newUpdateForm.phonePrimary" class="form-control" id="existingMemberphonePrimary" placeholder="800-700-6000">
          </div>
          <div class="form-group">
            <label for="existingMemberphoneSecondary">Secondary Phone</label>
            <input type="text" v-model="newUpdateForm.phoneSecondary" class="form-control" id="existingMemberphoneSecondary">
          </div>
          <div class="form-group">
            <label for="existingMemberemail">Email</label>
            <input type="text" v-model="newUpdateForm.email" class="form-control" id="existingMemberemail" placeholder="fire@gmail.com">
          </div>
          <div class="form-group">
            <label for="existingMemberstreet">Street</label>
            <input type="text" v-model="newUpdateForm.street" class="form-control" id="existingMemberstreet" placeholder="1275 E 10th St">
          </div><div class="form-group">
            <label for="existingMembercity">City</label>
            <input type="text" v-model="newUpdateForm.city" class="form-control" id="existingMembercity" placeholder="Bloomington">
          </div>
          <div class="form-group">
            <label for="existingMemberstate">State</label>
            <input type="text" v-model="newUpdateForm.state" class="form-control" id="existingMemberstate" placeholder="Indiana">
          </div>
          <div class="form-group">
            <label for="existingMemberzip">Zip</label>
            <input type="text" v-model="newUpdateForm.zip" class="form-control" id="existingMemberzip" placeholder="47405">
          </div>
          <div class="form-group">
            <label for="existingMemberstation">Station</label>
            <input type="text" v-model="newUpdateForm.station" class="form-control" id="existingMemberstation" placeholder="Station 1">
          </div>
          <div class="form-group">
            <label for="existingMembertitle">Title</label>
            <input type="text" v-model="newUpdateForm.title" class="form-control" id="existingMembertitle" placeholder="Captain">
          </div>
          <div class="form-group">
            <label for="existingMemberactive">Status</label>
            <select class="form-control" v-model="newUpdateForm.active" id="existingMembergender">
              <option value="0">Inactive</option>
              <option value="1">Active</option>
            </select>
          </div>
          <div class="form-group">
            <label for="existingMemberradioNum">Radio Number</label>
            <input type="text" v-model="newUpdateForm.radioNum" class="form-control" id="existingMemberradioNum" placeholder="C_7">
          </div>

          <button type="submit" class="btn btn-primary">Edit</button>
          <button type="submit" class="btn btn-primary">Delete</button>

        </form>
        </div>
        <!-- <div class="col cardPane cardPaneRight">
          <h3>Member List</h3>
          <div class="patientCard dataCritical" data-patient_id="3" data-visit_id="520">
            <span class="lastName">Blevins</span>, <span clas="firstName">Reagan</span>
            <span class="birthDate text-right">1997</span>
          </div>
          <div class="patientCard dataUrgent" data-patient_id="1" data-visit_id="501">
            <span class="lastName">Bloom</span>, <span clas="firstName">Jordan</span>
            <span class="birthDate text-right">1998</span>
          </div>
          <div class="patientCard dataMinor" data-patient_id="3" data-visit_id="520">
            <span class="lastName">Jiang</span>, <span clas="firstName">Stella</span>
            <span class="birthDate text-right">1998</span>
          </div> -->
        </div>
      </div>
    </div>
    <!-- END content -->

    <!-- Footer? Insert here -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/data.app.js"></script>
  </body>
</html>
