<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/styles.css">
    <title>Award Certifications</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom bg-custom">
      <a class="navbar-brand" href="index.html">Oconee County Fire Rescue | </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <a class="nav-link" href="memberData.html">Member Data Entry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="certificationData.html">Certification Data Entry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="memberCertificationData.html">Award Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="memberDetailed.html">View Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="certificationDetailed.html">View Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="certificationReport.html">Certification Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="memberReport.html">Member Reports</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row" id="dataPage">
        <div id="cardPaneLeft" class="col cardPane cardPaneLeft">
          <form method="post" v-on:submit.prevent="handleNewMemberCertificationForm">
            <h3>Award Member Certification</h3>
          <div class="form-group">
            <label for="newMemberCertificationfName">Member First Name</label>
            <input type="text" v-model="newMemberCertificationForm.fName" class="form-control" id="newMemberCertificationfName" placeholder="Jane">
          </div>
          <div class="form-group">
            <label for="newMemberCertificationlName">Member Last Name</label>
            <input type="text" v-model="newMemberCertificationForm.lName" class="form-control" id="newMemberCertificationlName" placeholder="Doe">
          </div>
          <div class="form-group">
            <label for="newMemberCertificationCertName">Certification Name</label>
            <input type="text" v-model="newMemberCertificationForm.certName" class="form-control" id="newMemberCertificationCertName" placeholder="CPR Certification">
          </div>
          <div class="form-group">
            <label for="newMemberCertificationExpiry">Expiry Date</label>
            <input type="text" v-model="newMemberCertificationForm.expiryDate" class="form-control" id="newMemberCertificationExpiryDate" placeholder="2020-01-02">
          </div>
          <div class="center">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
          </form>

          <!-- <button v-on:click="yell()">Click Me!</button> -->
        </div>
        <div class="col-6">
          <h3>Currently Awarded Certifications</h3>
          <div class="memberCard" v-for="memberCertification in memberCertificationList" v-on:click="activeMemberCertification = memberCertification">
            <span class="lastName">{{ memberCertification.lName }}</span>,
            <span clas="firstName">{{ memberCertification.fName }}</span>
            <span class="radionum">| Certification Name: {{ memberCertification.certName }}</span>
            <span clas="station">| Expiry Date: {{ memberCertification.expiryDate }}</span>
          </div>
        </div>
        <div class="col cardPane cardPaneRight">
          <h3>Edit Awarded Certification Information</h3>
          <form method="post" v-on:submit.prevent="handleMemberCertificationDataForm">
          <div class="form-group">
            <label for="memberName">Member Name</label>
            <input class="form-control" id="memberName" v-bind:value="activeMemberCertificationName" readonly placeholder="Jane Doe">
          </div>
          <div class="form-group">
            <label for="existingMembercertName">Certification Name</label>
            <input type="text" v-model="newMemberCertificationUpdateForm.certName" class="form-control" id="existingMembercertName" placeholder="800-700-6000">
          </div>
          <div class="form-group">
          <div class="form-group">
            <label for="existingMemberexpiryDate">Expiry Date</label>
            <input type="text" v-model="newMemberCertificationUpdateForm.expiryDate" class="form-control" id="existingMemberexpiry" placeholder="2020-01-02">
          </div>
          <div class="form-group">
            <label for="existingMemberupdate"><b>Delete or edit record?</b></label>
            <select class="form-control" v-model="newMemberCertificationUpdateForm.update" id="existingMemberupdate">
              <option value="delete">Delete</option>
              <option value="edit">Edit</option>
            </select>
          </div>
          <div class="center">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    <!-- END content -->
    <!-- Footer? Insert here -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/memberCertificationData.app.js"></script>
  </body>
</html>
